{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Kaeru means change{% endblock %}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'kaeru/icons/cornell.ico' %}" />

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="{% static 'kaeru/css/foundation.css' %}" />
  <link rel="stylesheet" href="{% static 'kaeru/css/normalize.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'kaeru/css/app.css' %}" />

  <script src="{% static 'kaeru/js/vendor/modernizr.js' %}"></script>
  <!-- Begin of Code - Tirth -->
  <script src="{% static 'kaeru/js/JSON.js' %}"></script>
  <script src="{% static 'kaeru/js/test.js' %}"></script>
  <!-- End of Code - Tirth -->

</head>

<body>

  <!--Naviation Bar-->
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Kaeru</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="/documentation/">Documentation</a></li>
          <li class="has-dropdown">
            {% if user.is_authenticated %}
                <a href="/login/">Settings</a>
            {% else %}
                <a href="/login/">Login or Signup</a>
            {% endif %}
            <ul class="dropdown">

                {% if user.is_authenticated %}
                    <li><a href="/change_password/">change your password</a></li>
                    <li><a href="/change_user_data/">change your personal data</a></li>
                    <li><a href="/logout/">Log Out</a></li>
                {% else %}
                  <li><a href="/login/">Login</a></li>
                  <li><a href="/">Sign Up</a></li>

                {% endif %}
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        </ul>
      </section>
    </nav>
  </div>

  <!--body content here -->
  <div id="content">
    {% block content %}
      {% block header %}
      {% endblock %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <div id="footer">
    {% block footer %}
    <div class="row">
      <div class="small-3 columns"></div>
      <div class="small-6 columns text-center">
        <a href="/people/">People</a>
      </div>
      <div class="small-3 columns">
        We don't have a Copyright yet. &copy; <a href="http://www.cs.cornell.edu/">Cornell University</a>
      </div>
    </div>
    {% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  <script src="{% static 'kaeru/js/slides.js' %}"></script>
  <!-- Thank you Charles Smith -->
  <script src="{% static 'kaeru/js/sticky-footer.js' %}"></script>
  <script src="{% static 'kaeru/js/minimize.js' %}"></script>
  <script src="{% static 'kaeru/js/interact.min.js' %}"></script>
  <script src="{% static 'kaeru/js/resize.js' %}"></script>

  <!-- Foundation -->
  <script src="{% static 'kaeru/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'kaeru/js/foundation.min.js' %}"></script>
  <script>
  $(document).foundation();
  </script>

</body>

</html>
