{% extends "base.html" %}

{% block content %}
<div class="row">
	<div id="directory" class="small-2 columns">
		<button>Directory</button>
		<button class="right tiny" id="min-directory-button">_</button>
		<div class="right" id="dir-max-buttons">
			<button class="hide tiny" id="max-code-button">Code</button>
			<button class="hide tiny" id="max-output-button">Output</button>
		</div>
		<ul class="side-nav">
			<li><a href="#">File 1</a></li>
			<li><a href="#">File 2</a></li>
			<li><a href="#">File 3</a></li>
			<li><a href="#">File 4</a></li>
		</ul>
	</div>
	<div id="code" class="small-3 columns">
		<button class="hide left tiny" id="max-directory-button">Directory</button>
		<button class="right tiny" id="min-code-button">_</button>
		<button class="hide right tiny" id="max-output-button2">Output</button>
		
		<ul class="tabs" data-tab>
			<li class="tab-title active"><a href="#panel1">YourCode1.js</a></li>
			<li class="tab-title"><a href="#panel2">YourCode2.js</a></li>
		</ul>
		<div class="tabs-content">
			<div class="content active" id="panel1">
				<textarea>
					//Your Code 1
				</textarea>
			</div>
			<div class="content" id="panel2">
				<textarea>
					//Your Code 2
				</textarea>
			</div>
		</div>
	</div>
	<div id="output" class="small-7 columns">
		<div class="left" id="output-max-buttons">
			<button class="hide tiny" id="max-directory-button2">Directory</button>
			<button class="hide tiny" id="max-code-button2">Code</button>
		</div>
		<button class="right tiny" id="min-output-button">_</button>
		<div id="output-site"class="panel">
  			<h5>Your Website</h5>
  		</div>
		<div id="output-log">
			Log:
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}