{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'kaeru/style.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'kaeru/icons/cornell.ico' %}" />

<h1>
    <a href="http://kaeru-lang.org/">
        <span class="systemname">(templates/) Kaeru</span>: Gradual Typing for Tadpoles
    </a>
</h1>

    <div id="nav">
        <span><a href="/">Home</a></span>
        <span><a href="/login">Sign In</a></span>
        <span><a href="/about">About</a></span>
        <span><a href="/about/download/">Download</a></span>
        <span><a href="/about/publications/">Publications</a></span>
        <span><a href="/about/support/">Support</a></span>
        <span><a href="/about/people/">People</a></span>
    </div><!-- nav -->
    <div id="more-nav">
        <span><a href="/about/news/">News</a></span>
        <span><a href="/about/tutorial/">Tutorial</a></span>
        <span><a href="/about/documentation/">Documentation</a></span>
        <span><a href="/about/faq/">FAQ</a></span>
    </div><!-- more-nav -->

    <div id="bd">
        <p>Kaeru is a great new language</p>
    </div><!-- bd -->

    <div id="ft">
      <p>We don't have a Copyright yet. &copy; <a href="http://www.cs.cornell.edu/">Cornell University</a></p>
    </div><!-- ft -->
