{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'kaeru/style.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'kaeru/icons/cornell.ico' %}" />

<h1>
    <a href="http://kaeru-lang.org/">
        <span class="systemname">(templates/) Kaeru</span>: Gradual Typing for Tadpoles
    </a>
</h1>

    <div id="nav">
        <span><a href="http://kaeru-lang.org/">Home</a></span>
        <span><a href="http://kaeru-lang.org/about/">About</a></span>
        <span><a href="http://kaeru-lang.org/performance/">Performance</a></span>
        <span><a href="http://kaeru-lang.org/download/">Download</a></span>
        <span><a href="http://kaeru-lang.org/papers/">Papers</a></span>
        <span><a href="http://kaeru-lang.org/support/">Support</a></span>
        <span><a href="http://kaeru-lang.org/people/">People</a></span>
    </div><!-- nav -->
    <div id="more-nav">
        <span><a href="http://kaeru-lang.org/news/">News</a></span>
        <span><a href="http://kaeru-lang.org/doc/tutorial/">Tutorial</a></span>
        <span><a href="http://kaeru-lang.org/doc/">Documentation</a></span>
        <span><a href="http://kaeru-lang.org/faq/">FAQ</a></span>
        <span><a href="http://kaeru-lang.org/contributors/">Contributors</a></span>
        <!--<span><a href="https://github.com/rescrv/HyperDex/">GitHub</a></span>-->
        <!--<span><a href="https://github.com/rescrv/HyperDex/issues?sort=created&direction=desc&state=open&page=1">Bug Tracker</a></span>-->
    </div><!-- more-nav -->

    <div id="bd">
        <p>Kaeru is a great new language</p>
    </div><!-- bd -->

    <div id="ft">
      <p>We don't have a Copyright yet. &copy; <a href="http://www.cs.cornell.edu/">Cornell University</a></p>
    </div><!-- ft -->
