{% extends "base.html" %}

{% block content %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


</head>
<body>
Body
JSON<input type="text" id="json" name="json"><br>
type name<input type="text" name = "typename" id="typename">

<input type="button" name = "submit" value="Create Type" id = "submit" onClick= createType()>
<br>
<textarea name="codetest" rows ="18" cols="80" id="codetest"></textarea>
<input type ="button" name = "testScript" value = "Test type creation" onClick = testScript() >
<br><div id="ajaxtest"> </div>
</body>
</html>
{% endblock %}