{% extends "base.html" %}

{% block content %}

    <h2>{{ projectname }}</h2>

    {% if iscreator %}

    <!-- Listing contributors -->
    <h4>Contributors</h4>

    {% for contributor in contributors %}
        <p><a href="/projects/{{ contributor }}/">{{ contributor }}</a></p> 
        <form action="/projects/{{ username }}/{{ projectname }}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="operation" value="rm_contributor"> <!-- TODO: Change this at some point -->
            <input type="hidden" name="contributorname" value="{{ contributor }}"> <!-- TODO: Change this at some point -->
            <input type="submit" value="Delete" />
        </form>
    {% endfor %}

    <!-- Adding contributors -->
    <h4>Add Contributor</h4>
    
    <form action="/projects/{{ username }}/{{ projectname }}/" method="post">
        {% csrf_token %}
        <p>Contributor Name:
            <input type="text" name="contributorname" value="" placeholder="name" required>
        </p>
        <input type="hidden" name="operation" value="add_contributor"> <!-- TODO: Change this at some point -->
        <input type="submit" value="Submit" />
    </form>
    <br>

    <!-- Listing pages -->
    <h4>Pages</h4>

    {% for page in pages %}
        <p><a href="/projects/{{ username }}/{{ projectname }}/{{ page }}/">{{ page }}</a></p> 
        <form action="/projects/{{ username }}/{{ projectname }}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="operation" value="rm_page"> <!-- TODO: Change this at some point -->
            <input type="hidden" name="pagename" value="{{ page }}"> <!-- TODO: Change this at some point -->
            <input type="submit" value="Delete" />
        </form>
    {% endfor %}

    <!-- Adding contributors -->
    <h4>Add Page</h4>
    
    <form action="/projects/{{ username }}/{{ projectname }}/" method="post">
        {% csrf_token %}
        <p>Page Name:
            <input type="text" name="pagename" value="" placeholder="name" required>
        </p>
        <input type="hidden" name="operation" value="add_page"> <!-- TODO: Change this at some point -->
        <input type="submit" value="Submit" />
    </form>
    <br>

    <!-- Deleting the project -->
    <h4>Delete Project</h4>
    <form action="/projects/{{ username }}/" method="post">
        {% csrf_token %}
        <input type="hidden" name="operation" value="rm"> <!-- TODO: Change this at some point -->
        <input type="hidden" name="projectname" value="{{ projectname }}"> <!-- TODO: Change this at some point -->
        <input type="submit" value="Delete" />
    </form>
    {% endif %}

{% endblock %}
